/*---------------
-------reset-----
----------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.box{
    background-color: blue;
    border: 2px solid white;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: white;
}
.col-1{
    width: calc(100%/12 * 1);
}